body{
  margin: 0px;
}
div{
  display: block;
  position: relative;
}
dl{
  display: block;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
li{
  display: list-item;
}

.wrap{
  position: relative;
  padding: 50px;
}

.common-header{
  position: relative;
  //border: solid #B9BCBD 1px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 200;
}
.common-header .header-inner{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.common-header .logo-section{
  margin: 0px;
  padding: 0px;
  position: relative;
}
.logo-section img{
  height: 67px;
  width: auto;
  position: relative;
}
.common-header .searching-box{
  position: relative;
  margin-left: 30px;
  z-index: 205;
  border: solid #ffc107 3px;
  overflow: hidden;
  margin-right: 10px;
}

.searching-box .inp-txt{
  width: 350px;
  position: relative;
  float: left;
}

.common-header .searching-box input{
  padding-left: 5px;
  box-sizing: border-box;
  height: 38px;
  position: relative;
  border: transparent;
  float: left;
}

.searching-box button{
  text-align: center;
  cursor: pointer;
  height: 30px;
  width: 30px;
  margin: 5px;
  background-color: transparent;
  background-image: url(../img/search.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30px;
  border: transparent;
  border-radius:0.5em;
  position: relative;
  z-index: 230;
}

.header-inner .mypage, .header-inner .cart{
  margin-left: 20px;
  text-align: center;
  cursor: pointer;
}

.header-inner .mypage img{
  height: 30px;
  width: 30px;
  border: 0px;
}

.header-inner .mypage p{
  margin: 0px;
  font-size: 12px;
  padding-top: 5px;
}
.header-inner .cart img{
  height: 30px;
  width: 30px;
  border: 0px;
}
.header-inner .cart p{
  margin: 0px;
  font-size: 12px;
  padding-top: 5px;
}

@media (max-width: 550px) {
  .searching-box .inp-txt{
    width: 300px;
  }
}
