body{
  background-color: #f4f4f4;
}

.main-wrapper{
	padding:0px;
}

.header-inner{
  margin-bottom: 30px;
}
.wrap{
  padding: 0;
  box-sizing: border-box;
}

.pad{
  padding: 10px 50px;
}
.title{
  padding-bottom: 30px;
  padding-top: 40px;
  padding-right: 20px;
}
.title p{
  color: black;
  font-size:30px;
}

.logout{
  text-align: right;
  float: right;
  font-size: 15px;
  border: 0;
  background-color: black;
  border-radius: 0.5em;
  color: white;
  padding: 10px;
}
.logout a{
  color:white;
  background-color: black;
  cursor: pointer;
}

.outer{
  background-color: white;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-bottom: 30px;
}
.title-outer{
	overflow:hidden;
	position:relative;
}
.user-info-title{
	font-size:25px;
	color:black;
}

.title-outer .more_btn{
	position:absolute;
	right: 0px;
	top:10px;
	border:0px;
	border-bottom:solid 1px black;
	cursor: pointer;
	background-color:transparent;
}

.user-info-inner{
  padding: 0 10px;
  margin-top: 10px;
}
.user-info-inner .chng-usr-info{
  background-color: #ffc107;
  border: 0;
  padding: 5px 20px;
  margin-top: 10px;
  color: white;
  cursor: pointer;
}
.con{
	font-family:"helveticaneue";
}
.inner{
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

img{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer;
}

/** After header adding **/
.top-area {
	display: none;
}

.footer_area {
	width: 100%;
}