body{
  margin: 0px;
}
div{
  display: block;
  position: relative;
}
dl{
  display: block;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

button{
  cursor: pointer;
  color: white;
}
.wrapper {
}

.prod-outline{
  position: relative;
}
.product {
  position: relative;
  display: grid;
  grid-template-columns: 40% 60%;
  //border: solid #B9BCBD 1px;
  margin-top: 30px;
}
.product .product-left{
  max-width: 100%;
  height: auto;
  float: left;
  position: relative;
}

.product .product-right{
  display: inline-block;
  vertical-align: middle;
  padding-left: 30px;
  float: right;
  position: relative;
  height: auto;
}
.product .prod-info{
  margin: 30px 0 30px;
  position: relative;
}
.product .prod-info div, .product .prod-info button{
  margin-top: 8px;
  margin-bottom: 8px;
}

.product .prod-btn-lst .prod-wish-list-btn{
  background-image: url("../img/core-img/wish-star.png");
  background-size: 80%;
  background-position: center;
  border: solid 3px #ffc107;
  border-radius: 0.5em;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  cursor: pointer;
  float: left;
  box-sizing: border-box;
}

.product .prod-btn-lst{
  position: relative;
}

.product .prod-btn-lst .prod-bid-lst{
  display: grid;
  grid-template-columns: 80% 20%;
  padding-left: 10px;
}

.product .prod-btn-lst input{
  border: solid #fcc107 2px;
  height: 40px;
  padding-left: 10px;
  float: left;
  position: relative;
  width: 100%;
}

.prduct .prod-btn-lst div{
  width: 100%;
}
.product .prod-btn-lst .bid{
  height: 40px;
  background-color: #ffc107;
  border: 0;
  text-align: center;
  float: left;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  right: 0px;
}

.prod-outline .prod-detail{
  width: 100%;
  margin-top: 30px;
  padding-top: 20px;
}
.prod-outline .prod-detail .prod-detail-img{
  height:auto;
  width: 400px;
}

.tab{
  position: relative;
  margin: 0px;
  padding: 0px;
}
.tab .tab-title{
  border-top: 2px solid #555;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  user-select: none;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 0;
}

.tab .tab-title li{
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  width: 50%;
  padding: 15px 20px 14px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  margin: 0;
  border-right: 1px solid #ccc;
  color: #555;
  background-color: #efefef;
}
.tab .tab-title li.active {
    margin-bottom: -2px;
    background: #ffffff;
    border-bottom: 1px solid #fff;
    color: #111;
}
.tab-content{
  text-align: center;
  margin-top: 40px;
}
.tab .tab-content li{
  display: none;
}
.tab .tab-content li.active{
  display: block;
}
@media (max-width:1200px) {
  .product .prod-btn-lst{
    position: relative;
  }
}
@media (max-width:800px) {
  .wrapper{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100%);
    flex: 0 0 calc(100%);
    width: calc(100%);
    max-width: calc(100%);
  }
  .prod-outline{
    padding: 20px;
  }
  .product{
    padding-left: 20px;
    padding-right: 20px;
  }
  .prod-detail{
    padding-left: 20px;
    padding-right: 20px;
  }

}
