div{
  display: block;
  position: relative;
}
dl{
  display: block;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.registration-row {
	display: flex;
	background-color: inherit;
}

.prod-outline {
  width: 70%;
  align-items: center;
}

.form{
  box-sizing: border-box;
  padding-left: 50px;
}	
.form_row{
  box-sizing : border-box;
}
.form_title{
  height:60px;
  max-width:100%;
  display: grid;
  grid-template-columns: 100%;

  width:100%;
  min-height:1px;
  margin-bottom:40px;
  box-sizing: border-box;
}
.form_price{
  height:60px;
  display: grid;
  grid-template-columns: 20% 30% 50%;
  min-height:1px;
  margin-bottom: -10px;

}
.form_content{
  -ms-flex:0 0 100%;
  flex:0 0 100%;
  height:500px;
  max-width:100%;
  display: grid;
  grid-template-columns: 100%;
  width:100%;
  min-height:1px;
  margin-bottom: 50px;
  box-sizing: border-box;

}
.title_input{
  background-color: #EFEFEF;
  border:none;
  text-align:left;
  font-size:16px;
  color : #6b6b6b;
  padding:30px;
  display:block;
  transition:border-color.15s ease-in-out,box-shadow.15s ease-in-out;

}

.upload_input{
  float:right;
}

.content_input{
  background-color: #EFEFEF;
  border:none;
  text-align:left;
  font-size:16px;
  color : #6b6b6b;
  padding:30px;
  display:block;
}

.button{
  display: inline-block;
  margin-top: 0;
  float: right;
}

button{
  background-color: #ffc107;
  opacity: 0.7;
  padding: 10px;
  border-radius: 5px;
  border: transparent;
  font-size: 1em;
  margin-left: 30px;
}
button:hover{
  opacity: 1;
  color: white;
}
