body{
  margin: 0px;
}
div{
  display: block;
  position: relative;
}
dl{
  display: block;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
li{
  display: list-item;
}

.wrap{
  position: relative;
  padding: 50px;
}

.common-header{
  position: relative;
  //border: solid #B9BCBD 1px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 200;
}

.container{
  z-index: 100;
  position: relative;
}
.prod-outline{
  padding: 30px;
  position: relative;
}
.product {
  position: relative;
  display: grid;
  grid-template-columns: 40% 60%;
  //border: solid #B9BCBD 1px;
  margin-top: 30px;
  overflow: hidden;
}
.product .product-left{
  max-width: 100%;
  height: auto;
  float: left;
  position: relative;
}

.product .product-right{
  display: inline-block;
  vertical-align: middle;
  padding-left: 30px;
  float: right;
  position: relative;
}
.product .prod-info{
  margin: 30px 0 30px;
  position: relative;
}

.prod-info .prod-right .prod-dl{
  position: relative;
}
.prod-bid-lst .prod-dl dt{
  float: left;
  padding-right: 10px;
  position: relative;
}

.prod-bid-lst .prod-dl dd{
  position: relative;
}

.product .prod-btn-lst{
  display: table;
  width: 100%;
  table-layout: fixed;
  list-style: none;
  cursor: pointer;
  outline: none;
  position: relative;
}
.product .prod-btn-lst .prod-btn-tbl{
  border-collapse: collapse;
  position: relative;
}
.product .prod-btn-lst ul{
  list-style: none;
  padding: 0px;
  position: relative;
}

.product .prod-btn-lst li{
  display: table-cell;
  list-style: none;
  //border: solid 1px black;
  padding: 10px 0;
}
.product .prod-btn-lst .prod-wish-lst-btn{
  background-color: #ffc107;

}
.product .prod-btn-lst .prod-prtcp-actn-btn{
  background-color: black;
}

.product .prod-btn-lst .prod-btn-tbl a{
  padding: 0 30px;
  text-decoration: none;
  color: white;
}
.button{
  display: inline-block;
  margin-top: 0;
  float: right;
}
.prod-outline .prod-detail{
  width: 100%;
  margin-top: 30px;
  padding-top: 20px;
}
.prod-outline .prod-detail .prod-detail-img{
  height:auto;
  width: 400px;
}

.tab{
  position: relative;
  margin: 0px;
  padding: 0px;
}
.tab .tab-title{
  border-top: 2px solid #555;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  user-select: none;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 0;
}

.tab .tab-title li{
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  width: 50%;
  padding: 15px 20px 14px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  margin: 0;
  border-right: 1px solid #ccc;
  color: #555;
  background-color: #efefef;
}
.tab .tab-title li.active {
    margin-bottom: -2px;
    background: #ffffff;
    border-bottom: 1px solid #fff;
    color: #111;
}
.tab-content{
  text-align: center;
  margin-top: 40px;
}
.tab .tab-content li{
  display: none;
}
.tab .tab-content li.active{
  display: block;
}

.prod-detail .tab-title{
  background: #fff;
}

.footer_area {
  position: relative;
  z-index: 1;
  background-color: #252525;
  padding: 80px 0;
}
.footer_area .container{
  padding: 15px;
  max-width: 750px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.footer_area .single_widget_area .copywrite {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
  margin-top: 10px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
